paper.aux
paper.bbl
paper.blg
paper.fdb_latexmk
paper.fls
paper.log
paper.synctex.gz
paper.out
paper.pdf
*-eps-converted-to.pdf
template.tex
template.pdf
*.err
*.log
*.out
*.pyc
*.npy
.vscode/settings.json
